.box {
    background: grey;
    margin: 10px;
    height: 50px;
}
.col > .depths{
    background: lightblue;
    height: 120px;
}
nav .badge{
    position: relative;
    top: 20px;
    right: 20px;
}
header{
    background: url(img/man.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
}
@media screen and (max-width: 670px){
    header{
        min-height: 500px;
    }
}
.tabs .indicator{
      background-color: #1a237e;
    }
    .tabs .tab a:focus, .tabs .tab a:focus.active{
      background: transparent;
    }
